audioread==3.0.1
autopep8==2.0.4
Babel==2.14.0
backoff==2.2.1
bayesian-optimization==1.4.3
blake3==0.2.1
cloudpickle==2.2.1
cmdstanpy==1.2.2
colorcet==3.1.0
colorful==0.5.6
colorlog==6.8.2
colorlover==0.3.0
contextily==1.6.0
contourpy==1.2.0
convertdate==2.4.0
dataclasses-json==0.6.4
dataproc_jupyter_plugin==0.1.66
datasets==2.18.0
datashader==0.16.0
datatile==1.0.3
db-dtypes==1.2.0
deap==1.4.1
deepdiff==7.0.1
Deprecated==1.2.14
deprecation==2.1.0
descartes==1.1.0
dill==0.3.8
dipy==1.9.0
distlib==0.3.8
dm-tree==0.1.8
docker==7.0.0
docker-pycreds==0.4.0
docopt==0.6.2
docstring-parser==0.15
docstring-to-markdown==0.15
docutils==0.21.1
earthengine-api==0.1.399
easydict==1.13
easyocr==1.7.1
ecos==2.0.13
eli5==0.13.0
emoji==2.11.0
ephem==4.1.5
esda==2.5.1
essentia==2.1b6.dev1110
et-xmlfile==1.1.0
etils==1.6.0
explainable-ai-sdk==1.3.3
Farama-Notifications==0.0.4
fastai==2.7.14
fastapi==0.108.0
fastavro==1.9.3
fastcore==1.5.29
fastdownload==0.0.7
fasteners==0.19
fastprogress==1.0.3
fasttext==0.9.2
feather-format==0.4.1
featuretools==1.30.0
filelock==3.13.1
fiona==1.9.6
fitter==1.7.0
flake8==7.0.0
flashtext==2.7
Flask==3.0.3
flatbuffers==23.5.26
flax==0.8.2
folium==0.16.0
fonttools==4.47.0
frozendict==2.4.2
fsspec==2024.2.0
funcy==2.0
fury==0.10.0
future==1.0.0
fuzzywuzzy==0.18.0
gast==0.5.4
gatspy==0.3
gcsfs==2024.2.0
gensim==4.3.2
geographiclib==2.0
Geohash==1.0
geojson==3.1.0
geopandas==0.14.3
geoplot==0.5.1
geopy==2.4.1
geoviews==1.12.0
giddy==2.3.5
gitdb==4.0.11
GitPython==3.1.41
google-ai-generativelanguage==0.6.2
google-api-core==2.11.1
google-api-python-client==2.126.0
google-apitools==0.5.31
google-auth==2.26.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud-aiplatform==0.6.0a1
google-cloud-artifact-registry==1.10.0
google-cloud-automl==1.0.1
google-cloud-bigquery==2.34.4
google-cloud-bigtable==1.7.3
google-cloud-core==2.4.1
google-cloud-datastore==2.19.0
google-cloud-dlp==3.14.0
google-cloud-jupyter-config==0.0.5
google-cloud-language==2.13.3
google-cloud-monitoring==2.18.0
google-cloud-pubsub==2.19.0
google-cloud-pubsublite==1.9.0
google-cloud-recommendations-ai==0.7.1
google-cloud-resource-manager==1.11.0
google-cloud-spanner==3.40.1
google-cloud-storage==1.44.0
google-cloud-translate==3.12.1
google-cloud-videointelligence==2.13.3
google-cloud-vision==2.8.0
google-crc32c==1.5.0
google-generativeai==0.5.1
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
gplearn==0.4.2
gpustat==1.0.0
gpxpy==1.6.2
graphviz==0.20.3
greenlet==3.0.3
grpc-google-iam-v1==0.12.7
gviz-api==1.10.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.0
h11==0.14.0
h2o==3.46.0.1
h5netcdf==1.3.0
h5py==3.10.0
haversine==2.8.1
hdfs==2.7.3
hep-ml==0.7.2
hijri-converter==2.3.1
hmmlearn==0.3.2
holidays==0.24
holoviews==1.18.3
hpsklearn==0.1.0
html5lib==1.1
htmlmin==0.1.12
httpcore==1.0.5
httplib2==0.21.0
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.22.2
hunspell==0.5.5
hydra-slayer==0.5.0
hyperopt==0.2.7
hypertools==0.8.0
igraph==0.11.4
imagecodecs==2024.1.1
ImageHash==4.3.1
imageio==2.33.1
imbalanced-learn==0.12.2
imgaug==0.4.0
importlib-metadata==6.11.0
inequality==1.0.1
iniconfig==2.0.0
ipydatawidgets==4.3.5
ipyleaflet==0.18.2
ipympl==0.7.0
ipython-genutils==0.2.0
ipython-sql==0.5.0
ipyvolume==0.6.3
ipyvue==1.11.0
ipyvuetify==1.9.4
ipywebrtc==0.6.0
ipywidgets==7.7.1
isort==5.13.2
isoweek==1.3.3
itsdangerous==2.2.0
Janome==0.5.0
jaraco.classes==3.3.0
jax==0.4.23
jax-jumpy==1.0.0
jeepney==0.8.0
jieba==0.42.1
jmespath==1.0.1
json5==0.9.14
jupyter-console==6.6.3
jupyter-http-over-ws==0.0.8
jupyter-lsp==1.5.1
jupyter-server-mathjax==0.2.6
jupyter-ydoc==0.2.5
jupyter_client==7.4.9
jupyter_server==2.12.5
jupyter_server_fileid==0.9.1
jupyter_server_proxy==4.1.0
jupyter_server_ydoc==0.8.0
jupyterlab==4.1.6
jupyterlab-lsp==5.1.0
jupyterlab-widgets==3.0.9
jupyterlab_git==0.44.0
jupyterlab_server==2.25.2
jupytext==1.16.0
kaggle==1.6.12
kaggle-environments==1.14.3
kagglehub==0.2.3
keras==3.2.1
keras-cv==0.8.2
keras-nlp==0.9.3
keras-tuner==1.4.6
kernels-mixer==0.0.7
keyring==24.3.0
keyrings.google-artifactregistry-auth==1.1.2
kfp==2.5.0
kfp-pipeline-spec==0.2.2
kfp-server-api==2.0.5
kmapper==2.0.1
kmodes==0.12.2
korean-lunar-calendar==0.3.1
kornia==0.7.2
kornia_rs==0.1.3
kt-legacy==1.0.5
kubernetes==26.1.0
langid==1.1.6
lazy_loader==0.3
leven==1.0.4
libclang==16.0.6
libpysal==4.9.2
librosa==0.10.1
lightning-utilities==0.11.2
lime==0.2.0.1
line-profiler==4.1.2
linkify-it-py==2.0.3
llvmlite==0.41.1
lml==0.1.0
loguru==0.7.2
LunarCalendar==0.0.9
lxml==5.2.1
Mako==1.3.3
mapclassify==2.6.1
Markdown==3.5.2
marshmallow==3.21.1
matplotlib==3.7.5
matplotlib-venn==0.11.10
mccabe==0.7.0
mdit-py-plugins==0.4.0
memory-profiler==0.61.0
mercantile==1.2.1
mgwr==2.2.1
missingno==0.5.2
mistune==0.8.4
mizani==0.11.1
ml-dtypes==0.2.0
mlcrate==0.2.0
mlens==0.2.3
mlxtend==0.23.1
mne==1.6.1
mnist==0.2.2
momepy==0.7.0
more-itertools==10.2.0
mpld3==0.5.10
mpmath==1.3.0
multimethod==1.10
multipledispatch==1.0.0
multiprocess==0.70.16
munkres==1.1.4
mypy-extensions==1.0.0
namex==0.0.8
nbclient==0.5.13
nbconvert==6.4.5
nbdime==3.2.0
ndindex==1.8
networkx==3.2.1
nibabel==5.2.1
nilearn==0.10.4
ninja==1.11.1.1
nltk==3.2.4
nose==1.3.7
numba==0.58.1
numexpr==2.10.0
nvidia-ml-py==11.495.46
oauth2client==4.1.3
oauthlib==3.2.2
objsize==0.6.1
odfpy==1.4.1
olefile==0.47
onnx==1.16.0
opencensus==0.11.4
opencensus-context==0.1.3
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
openslide-python==1.3.1
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-exporter-otlp-proto-http==1.22.0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
opt-einsum==3.3.0
optax==0.2.2
optree==0.11.0
optuna==3.6.1
orbax-checkpoint==0.5.9
ordered-set==4.1.0
orjson==3.9.10
ortools==9.4.1874
osmnx==1.9.2
packaging==21.3
pandas==2.1.4
pandas-datareader==0.10.0
pandas-profiling==3.6.6
pandas-summary==0.2.0
pandasql==0.7.3
panel==1.4.1
papermill==2.5.0
param==2.1.0
path==16.14.0
path.py==12.5.0
pathos==0.3.2
patsy==0.5.6
pdf2image==1.17.0
pettingzoo==1.24.0
phik==0.12.4
platformdirs==4.2.0
plotly==5.18.0
plotly-express==0.4.1
plotnine==0.13.4
pluggy==1.4.0
pointpats==2.4.0
polars==0.20.21
polyglot==16.7.4
pooch==1.8.1
pox==0.3.4
ppca==0.0.4
ppft==1.7.6.8
preprocessing==0.1.13
py-cpuinfo==9.0.0
py-spy==0.3.14
py4j==0.10.9.7
pyaml==23.12.0
PyArabic==0.6.15
pyarrow==15.0.2
pyarrow-hotfix==0.6
pycuda==2024.1
pydantic==2.5.3
pydantic_core==2.14.6
pydegensac==0.1.2
pydicom==2.4.4
pydocstyle==6.3.0
pydot==1.4.2
pydub==0.25.1
pyemd==1.0.0
pyerfa==2.0.1.4
pyexcel-io==0.6.6
pyexcel-ods==0.6.0
pyflakes==3.2.0
pygltflib==1.16.2
pylint==3.1.0
pymc3==3.11.4
PyMeeus==0.5.12
pymongo==3.13.0
Pympler==1.0.1
pynndescent==0.5.12
pynvrtc==9.2
pytesseract==0.3.10
pytest==8.1.1
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-louvain==0.16
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.11.0
python-slugify==8.0.4
python-utils==3.8.2
pythreejs==2.4.2
pytoolconfig==1.3.1
pytools==2024.1.1
pytorch-ignite==0.5.0.post2
pytorch-lightning==2.2.2
pytz==2023.3.post1
PyUpSet==0.1.1.post7
pyviz_comms==3.0.2
PyWavelets==1.5.0
pyzmq==24.0.1
qgrid==1.3.1
qtconsole==5.5.1
QtPy==2.4.1
quantecon==0.7.2
qudida==0.0.4
rasterio==1.3.10
rasterstats==0.19.0
ray==2.9.0
ray-cpp==2.9.0
regex==2023.12.25
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
retrying==1.3.3
rgf-python==3.12.0
rich==13.7.0
rich-click==1.7.4
rope==1.13.0
Rtree==1.2.0
s2sphere==0.2.5
s3fs==2024.2.0
s3transfer==0.6.2
safetensors==0.4.3
scattertext==0.1.19
scikit-image==0.22.0
scikit-learn==1.2.2
scikit-learn-intelex==2024.3.0
scikit-multilearn==0.2.0
scikit-optimize==0.10.1
scikit-plot==0.3.7
scikit-surprise==1.1.3
scipy==1.11.4
seaborn==0.12.2
SecretStorage==3.3.3
segregation==2.5
semver==3.0.2
sentencepiece==0.2.0
sentry-sdk==1.45.0
setproctitle==1.3.3
setuptools-git==1.2
setuptools-scm==8.0.4
shap==0.44.1
Shapely==1.8.5.post1
Shimmy==1.3.0
simpervisor==1.0.0
SimpleITK==2.3.1
simplejson==3.19.2
sklearn-pandas==2.2.0
slicer==0.0.7
smmap==5.0.1
snowballstemmer==2.2.0
snuggs==1.4.7
soxr==0.3.7
spaghetti==1.7.5.post1
spectral==0.23.1
spglm==1.1.0
sphinx-rtd-theme==0.2.4
spint==1.0.7
splot==1.1.5.post1
spopt==0.6.0
spreg==1.4.2
spvcm==0.3.0
SQLAlchemy==2.0.25
sqlparse==0.4.4
squarify==0.4.3
stable-baselines3==2.1.0
stanio==0.5.0
starlette==0.32.0.post1
statsmodels==0.14.1
stemming==1.0.1
stop-words==2018.7.23
stopit==1.1.2
stumpy==1.12.0
sympy==1.12
tables==3.9.2
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tbb==2021.12.0
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboard-plugin-profile==2.15.0
tensorboardX==2.6.2.2
tensorflow==2.15.0
tensorflow-cloud==0.1.16
tensorflow-datasets==4.9.4
tensorflow-decision-forests==1.8.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io==0.35.0
tensorflow-io-gcs-filesystem==0.35.0
tensorflow-metadata==0.14.0
tensorflow-probability==0.23.0
tensorflow-serving-api==2.14.1
tensorflow-text==2.15.0
tensorflow-transform==0.14.0
tensorstore==0.1.56
termcolor==2.4.0
testpath==0.6.0
text-unidecode==1.3
textblob==0.18.0.post0
texttable==1.7.0
tf_keras==2.15.1
Theano==1.0.5
Theano-PyMC==1.1.2
threadpoolctl==3.2.0
tifffile==2023.12.9
timm==0.9.16
tobler==0.11.2
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.4
torchdata==0.7.1
torchinfo==1.8.0
torchmetrics==1.3.2
TPOT==0.12.1
traceml==1.0.8
traittypes==0.2.1
transformers==4.39.3
treelite==3.2.0
treelite-runtime==3.2.0
trx-python==0.2.9
tsfresh==0.20.2
typeguard==4.1.5
typer==0.9.0
typing-inspect==0.9.0
tzdata==2023.4
uc-micro-py==1.0.3
ujson==5.9.0
umap-learn==0.5.6
update-checker==0.18.0
uritemplate==3.0.1
urllib3==1.26.18
urwid==2.6.10
urwid_readline==0.14
uvicorn==0.25.0
uvloop==0.19.0
vaex==4.17.0
vaex-astro==0.9.3
vaex-core==4.17.1
vaex-hdf5==0.14.1
vaex-jupyter==0.8.2
vaex-ml==0.18.3
vaex-server==0.9.0
vaex-viz==0.5.4
vec_noise==1.1.4
vecstack==0.4.0
virtualenv==20.21.0
visions==0.7.5
vowpalwabbit==9.9.0
vtk==9.3.0
Wand==0.6.13
wandb==0.16.6
watchfiles==0.21.0
wavio==0.0.8
websockets==12.0
Werkzeug==3.0.2
wfdb==4.1.2
whatthepatch==1.0.5
widgetsnbextension==3.6.6
witwidget==1.8.1
woodwork==0.30.0
wordcloud==1.9.3
wordsegment==1.3.1
wrapt==1.14.1
xarray==2024.3.0
xarray-einstats==0.7.0
xgboost==2.0.3
xvfbwrapper==0.2.9
xxhash==3.4.1
y-py==0.6.2
yapf==0.40.2
ydata-profiling==4.6.4
yellowbrick==1.5
ypy-websocket==0.8.4
zstandard==0.22.0
