audioread==3.0.1
cloudpickle==2.2.1
dataclasses-json==0.6.4
dataproc_jupyter_plugin==0.1.66
Deprecated==1.2.14
deprecation==2.1.0
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.41
h5py==3.10.0
hpsklearn==0.1.0
html5lib==1.1
ipympl==0.7.0
ipython-genutils==0.2.0
ipython-sql==0.5.0
json5==0.9.14
jupyter-console==6.6.3
jupyter-http-over-ws==0.0.8
jupyter-lsp==1.5.1
keras==3.2.1
librosa==0.10.1
Markdown==3.5.2
marshmallow==3.21.1
memory-profiler==0.61.0
numba==0.58.1
packaging==21.3
pandas==2.1.4
pandas-datareader==0.10.0
pandas-profiling==3.6.6
pandas-summary==0.2.0
pandasql==0.7.3
panel==1.4.1
papermill==2.5.0
param==2.1.0
path==16.14.0
path.py==12.5.0
pathos==0.3.2
patsy==0.5.6
pdf2image==1.17.0
pettingzoo==1.24.0
phik==0.12.4
platformdirs==4.2.0
pox==0.3.4
ppca==0.0.4
ppft==1.7.6.8
preprocessing==0.1.13
pytest==8.1.1
scikit-learn==1.2.2
scikit-learn-intelex==2024.3.0
scikit-multilearn==0.2.0
scikit-optimize==0.10.1
scipy==1.11.4
SimpleITK==2.3.1
simplejson==3.19.2
sklearn-pandas==2.2.0
streamlit==1.33.0
tensorflow==2.15.0
tensorflow-text==2.15.0
tokenizers==0.15.2
urllib3==1.26.18

